# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
.env
.env.local
.env.*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Python and Backend
venv/
__pycache__/
*.pyc
backend/__pycache__/
backend/data/ais/*.csv
backend/data/sar/*.tif
backend/data/sar/*.zip
backend/data/weather/*.nc

# OS
Thumbs.db
backend/model.pth
